.App {
  text-align: center;
  width: auto;
  font-family: Arial, Helvetica, sans-serif;
}

h1{
  margin: 10px 0;
  padding:  20px 0;
  align-self: left;
  width: 100px;
}

ul {
  align-self: left;
  list-style-type: none;
  margin: 10px 0;
  padding: 10px;
}

li{
  margin: 10px 0;
  padding: auto;
  display: flex;
  justify-content: space-between;
  width: 66%;
}
li.high-priority {
  border: 5px solid red;
  border-style: ridge ;
  color: black;
  text-shadow: 1px 1px 3px red;
}
li.low-priority {
  border: 1px solid dodgerblue;
  color: dodgerblue;
}


input[type="text"] {
  padding: 10px 0;
  width: 50%;
  margin:10px 0;
}
form {
  padding: 10px 0;
  margin: 10px 0;

}
button, input[type="submit"]{
  margin: 10px;
  padding: 10px;
  background: #000;
  color: #fff;
  cursor: pointer;
  border: 1px solid #000;
}